.footer {
    text-align: center;
    background-color: rgba(153, 153, 153, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer a {
    text-decoration: underline;
    text-decoration-style: dashed;
}